// colors
$dark-purple: #49274a;
$purple: #94618e;
$sand: #f4decb;
$shell: #ffc69d;
$gray: #9e9e9e36;

// typography
$heading-2xl: 2.5rem;
$heading-xl: 2.2rem;
$heading-lg: 2rem;
$heading-md: 1.5rem;
$heading-sm: 1.2rem;

// breakpoints
$xxl: 1599px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;
$xs: 450px;
