@import "./modules/mixin";
@import "./modules/variable";

.menulist {
  padding: 1rem;
  height: calc(900px - 70px);
  h5 {
    text-align: end;
  }
  :global(.ant-row) {
    margin-top: 1rem;
    margin-bottom: 2rem;

    :global(.ant-card .ant-card-body) {
      padding: 1rem;
    }
    :global(.ant-card-meta-title) {
      margin-bottom: 0 !important;
    }
    :global(.ant-card-meta-description .ant-space-vertical) {
      width: 100%;
    }
  }
}
