@import "../modules/variable";
@import "../modules/mixin";

.ant-btn-primary {
  background: $purple;
  font-weight: 500;
  &:hover {
    background: $dark-purple !important;
  }
}
.ant-btn-link {
  color: $purple;
  font-weight: 500;
  padding: 2px;
  &:hover {
    color: $dark-purple !important;
  }
}
